<h1>Title: <%= @post.title %></h1>
Categories: <% @post.categories.each do |category| %>
<h2> <%= category.name %> </h2>
<% end %>
<h3>Content: <%= @post.content %> </h3>
<% @post.comments.each do |comment| %>
<%= comment.user.username %> says: <%= comment.content %>
<% end %>

<% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>
<% end %>

<%= form_for @post.comments.build do |f| %>
     <%= f.hidden_field :post_id, value: @post.id %>
     <%= f.label :content %>
     <%= f.text_area :content %>
     <%= f.collection_select :user_id, User.all, :id, :username, { include_blank: true } %>
     <%= f.fields_for :user, User.new do |user_attributes| %>
        <%= user_attributes.label :username %>
        <%= user_attributes.text_field :username %>
        <%= user_attributes.label :email %>
        <%= user_attributes.text_field :email %>
     <% end %>
     <%= f.submit %>
<% end %>